langchain
langchain-community
python-dotenv
pinecone
langchain-pinecone
pinecone-client
langchain_cohere
langchain_huggingface
langchain_openai
openpyxl
ragas
groq
pypdf
sentence_transformers
langchain-groq
streamlit
-e .